CompileFlags:
  CompilationDatabase: "build"
  Add:
    - "-DconfigENABLE_BACKWARD_COMPATIBILITY=1"
    - "-D__XTENSA__"
    - "-D__xtensa__"
    - "-Wno-unknown-attributes"
    - "-Wno-implicit-function-declaration"
  Remove:
    - "-fno-tree-switch-conversion"
    - "-fno-jump-tables"
    - "-fstrict-volatile-bitfields"
    - "-mlongcalls"
    - "-mmsg-cache-ids"

Diagnostics:
  Suppress: 
    - "redefinition_different_typedef"
    - "pp_file_not_found"
    - "type_specifier_missing"